<!DOCTYPE html>
<html>
<head>
    <title>Consolidated View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Consolidated View</h1>
        <p>Total Patients: {{ total_patients }}</p>
        <p>Number of Male Patients: {{ male_patients }}</p>
        <p>Number of Female Patients: {{ female_patients }}</p>
        <p>Age Range: {{ age_range[0] }} - {{ age_range[1] }}</p>
        <a href="/" class="btn btn-secondary">Back to Search</a>
    </div>
</body>
</html>

