<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Patient Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to Patient Search</h1>
        <p class="lead">Please choose a service:</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/search_disease">Search for diseases by cityname</a>
            </li>
        </ul>
    </div>
</body>
</html>


